<!---------------------------------------------------------------------------
#                    F a c t u r a S i e l i   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : facturasieli/templates/facturasieli/invoice/invoice_details.html
# Author : Nabil
# -------------------------------------------------------------------------->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}

{% if invoice %}
<div class="card" style="width: 18rem;">
    <img src="{% static 'images/invoiceLucie.png' %}" class="card-img-top" alt="invoice">
    <div class="card-body">
        <h5 class="card-title">N° {{ invoice.invoice_number }}</h5>
        <strong>{% translate 'Date:' %}</strong><small> {{ invoice.due_date }}</small> 
        <p class="card-text"></p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
        <strong>{% translate 'Provider:' %}</strong> {{ invoice.name_provider }} 
    </li>
        <li class="list-group-item">
        <strong>{% translate 'Client:' %}</strong> {{ invoice.name_client }} 
    </li>
        <li class="list-group-item">
        <strong>{% translate 'Date de paiement:' %}</strong><small> {{ invoice.due_date }}</small>    
    </li>
        <li class="list-group-item">
        <strong>{% translate 'Price:' %}</strong> {{ invoice.amount_excluding_tax }} € 
        <strong>{% translate 'VAT:' %}</strong> {{ invoice.tax }}
    </li>
        <li class="list-group-item">
        <strong>{% translate 'Amount:' %}</strong> {{ total }} €  
        <i class="text-primary"><u>{{ invoice.kind_of_payment }}</u></i> 
        </li>
        <li class="list-group-item">
        <strong class="text-danger">{{ invoice.status }}</strong>  
        </li>
    </ul>
  
</div>
{% else %}
<div>
    <p>No invoice registered yet.</p>
</div>
{% endif %}

{% endblock %}

