<!---------------------------------------------------------------------------
#                    F a c t u r a S i e l i   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : facturasieli/templates/facturasieli/service/service.html
# Author : Morice
# -------------------------------------------------------------------------->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %} 
<div class="mt-4">   
    <h3 class="text-center mt-3">{% translate 'Your services' %}</h3>
    <div class="d-flex justify-content-center mt-4">
        <div class="">
            <a href="{% url 'facturasieli:service_form' %}" class="btn btn-warning mb-4">{% translate 'Create' %}</a>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">{% translate 'Title' %}</th>
                    <th scope="col">{% translate 'Service creation date' %}</th>
                    <th scope="col">{% translate 'Company' %}</th>
                    <th scope="col">{% translate 'Status' %}</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    {% if services %}
                        {% for service in services %}
                            <tr>
                                <th scope="row">{{ service.title }}</th>
                                <td>{{ service.issue_date }}</td>
                                <td>{{ service.company.name }}</td>
                                <td>{{ service.status }}</td>
                                <td><a href="{% url 'facturasieli:show_service' 2 %}">{% translate 'Show' %}</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}

                    {% endif %}
                </tbody>
              </table>
        </div>
    </div>
</div>  
{% endblock %}
