<!---------------------------------------------------------------------------
#                    F a c t u r a S i e l i   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : facturasieli/templates/facturasieli/service/show_service.html
# Author : Morice
# -------------------------------------------------------------------------->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="mt-4 d-flex justify-content-center">
    <div class="w-100 mt-4">
        <div class="row">
            <!-- service side -->
            <div class="col-7 p-2 border border-1 border-opacity-25 rounded-2 bg-body-tertiary">
                <h3 class="text-center"><u><strong>{{ service.title|slice:":1"|upper }}{{ service.title|slice:"1:"|lower }}</strong></u></h3>
                <p class="text-center"><i>{% translate 'Creation date' %}</i>: {{ service.issue_date }}</p>
                <div class="border-top border-bottom my-3 p-3">
                    <p class="text-center"><strong><u>{% translate 'Companies:' %}</u></strong></p>
                    <div class="d-flex justify-content-between">
                      <p><strong>{% translate 'Provider:' %} </strong>{{ service.company_provider.name }}</p>
                      <p><strong>{% translate 'Siret:' %} </strong>{{ service.company_provider.siret }}</p>
                    </div>
                    <strong>{% translate 'Address:' %}</strong>
                    <p>{{ service.company_provider.address.number }} {{ service.company_provider.address.street }} 
                        {{ service.company_provider.address.zip_code }} {{ service.company_provider.address.city }}</p>
                        <p>{{ service.company_provider.address.country }}</p>
                </div>
                <div class="border-bottom my-3 p-3">
                  <div class="d-flex justify-content-between">
                    <p><strong>{% translate 'Client:' %} </strong>{{ service.company_client.name }}</p>
                    <p><strong>{% translate 'Siret:' %} </strong>{{ service.company_client.siret }}</p>
                  </div>
                    <strong>{% translate 'Address:' %}</strong>
                    <p>{{ service.company_client.address.number }} {{ service.company_client.address.street }} 
                        {{ service.company_client.address.zip_code }} {{ service.company_client.address.city }}</p>
                        <p>{{ service.company_client.address.country }}</p>
                </div>
                <p class="text-center"><strong><u>{% translate 'Service dates:' %}</u></strong></p>
                <div class="d-flex justify-content-around">
                    <p><strong>{% translate 'From:' %}</strong> {{ service.intervention_start_date }}</p>
                    <p><strong>{% translate 'To:' %}</strong> {{ service.intervention_end_date }}</p>
                </div>
                <div class="border-top my-3 p-3">
                    <p class="text-center"><strong><u>{% translate 'Description:' %}</u></strong></p>
                    <p>{{ service.description }}</p>
                </div>
                <div class="d-flex justify-content-around">
                    <a href="#" class="btn btn-warning" >{% translate 'Edit' %}
                    </a>
                    <a href="{% url 'facturasieli:delete_service' service.id %}" 
                    class="btn btn-danger" 
                    onclick="return confirm('{% translate "Êtes-vous sûr de vouloir effacer" %} ?')">{% translate 'Delete' %}
                    </a>
                </div>
            </div>
            <!-- invoice side -->
            <div class="col-4 d-flex justify-content-center">
                {% if service.invoice %}
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'images/invoiceLucie.png' %}" class="card-img-top" alt="invoice">
                    <div class="card-body">
                      <h5 class="card-title">N° {{ service.invoice.invoice_number }}</h5>
                      <strong>{% translate 'Date:' %}</strong><small> {{ service.invoice.due_date }}</small> 
                      <p class="card-text"></p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <strong>{% translate 'Provider:' %}</strong> {{ service.invoice.name_provider }} 
                    </li>
                      <li class="list-group-item">
                        <strong>{% translate 'Client:' %}</strong> {{ service.invoice.name_client }} 
                    </li>
                      <li class="list-group-item">
                        <strong>{% translate 'Date de paiement:' %}</strong><small> {{ service.invoice.due_date }}</small>    
                    </li>
                      <li class="list-group-item">
                        <strong>{% translate 'Price:' %}</strong> {{ service.invoice.amount_excluding_tax }} € 
                        <strong>{% translate 'VAT:' %}</strong> {{ service.invoice.tax }}
                    </li>
                      <li class="list-group-item">
                        <strong>{% translate 'Amount:' %}</strong> {{ total }} €  
                        <i class="text-primary"><u>{{ service.invoice.kind_of_payment }}</u></i> 
                      </li>
                      <li class="list-group-item">
                        <strong class="text-danger">{{ service.invoice.status }}</strong>  
                      </li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">{% translate 'Edit' %}</a>
                      <a href="#" class="card-link">{% translate 'Delete' %}</a>
                      <a href="#" class="card-link">{% translate 'Print' %}</a>
                    </div>
                </div>
                {% else %}
                <div>
                    <p>No invoice registered yet.</p>
                    <a href="{% url 'facturasieli:invoice_form' service.id %}" class="btn btn-warning mb-4">{% translate 'Create' %}</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
