<!---------------------------------------------------------------------------
#                    F a c t u r a S i e l i   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : facturasieli/templates/facturasieli/edit_profile.html
# Author : Brice
# -------------------------------------------------------------------------->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="mt-4">
    <h3>{% translate 'Edit my profile:' %}</h3>
    <img src="{{ request.profile.avatar.url }}" width="100px" height="100px" />
    <form method="post" action="{% url 'facturasieli:edit_profile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="submit" value="🤠 {% translate 'Save' %}" />
        <input type="hidden" name="next" value="{% url 'facturasieli:index' %}" />
    </form>
</div>
{% endblock %}
