<!---------------------------------------------------------------------------
#                    F a c t u r a S i e l i   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : facturasieli/templates/facturasieli/index.html
# Author : Brice
# -------------------------------------------------------------------------->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="mt-4">
    <img src="{{ request.profile.avatar.url }}" width="100px" height="100px" />
    <table>
        <tr style="vertical-align:top">
            <td>
                <h2>{% translate 'My invoices:' %}</h2>
                {% if invoices %}
                    <p>TODO</p>
                {% else %}
                    <p>{% translate 'You have no invoice defined yet.' %}</p>
                {% endif %}
            </td>
        </tr>
    </table>
</div>
{% endblock %}
