<!---------------------------------------------------------------------------
#                    F a c t u r a S i e l i   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : facturasieli/templates/facturasieli/invoice_form.html
# Author : Margaux
# -------------------------------------------------------------------------->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %} 
<div class="mt-4">
    <h3>Invoice Form</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}
