{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %} 
    <div>
        <h1>Invoice Form</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
    {% if form.errors %}
        <div class="error-messages">
            <h2>There were errors in your form:</h2>
            <ul>
                {% for field, errors in form.errors.items %}
                    <li>{{ field }}: {{ errors|join:", " }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}